<a href="https://colab.research.google.com/github/santorasu/Python-Practice/blob/master/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ami bari jabo")

Ami bari jabo

In [ ]:
for i in range(11):
  for k in range(i):
    print(" ")
  
  for j in range(-1:11):
    print("*")

SyntaxError: ignored

In [ ]:
list = [ 'apple', 'banana', 'cherry', 'Orange', 'banana',4,454,645,434,45]
print(list)
print(type(list))
print(len(list))

['apple', 'banana', 'cherry', 'Orange', 'banana', 4, 454, 645, 434, 45]
<class 'list'>
10

In [ ]:
list = [ 'apple', 'banana', 'cherry', 'Orange', 'banana',4,454,645,434,45]
print(list[1])
print(list[2:5])
print(list[-4:-1])
print(list.reverse())

banana
['cherry', 'Orange', 'banana']
[454, 645, 434]
None

In [ ]:
list = [ 'apple', 'banana', 'cherry', 'Orange', 'banana',4,454,645,434,45]
print(list.index(434))

8

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
print(list.index(3))
print(list.index(4,2,6))
print(list.index(8,2,6))

2
3

ValueError: ignored

In [ ]:
list = [ 'apple', 'banana','cherry']
print("apple" not in list)
print("lemon" not in list)

False
True

In [ ]:
list = [ 'apple', 'banana','cherry']
if "apple" in list: #Find element in list
  print("Yes")

Yes

In [ ]:
list = [ 'apple', 'banana','cherry']
list[1]= "NAI Kichu" #Replace element
print(list)

['apple', 'NAI Kichu', 'cherry']

In [ ]:
list = [ 'apple', 'banana','cherry','orange','kiwi','mango']
list[1:4] = ['Kola','komola']
print(list) #replace multiple element in list

['apple', 'Kola', 'komola', 'kiwi', 'mango']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
print(list.index('Sohel'))
list[2] = "Sadik"
print(list)

2
['Sakil', 'Sakib', 'Sadik', 'Santo', 'Rasu']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.append("Cat")
print(list)

['Sakil', 'Sakib', 'Sohel', 'Santo', 'Rasu', 'Cat']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.insert(1,"Cat")
print(list)

['Sakil', 'Cat', 'Sakib', 'Sohel', 'Santo', 'Rasu']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.remove("Sohel") #remove
print(list)

['Sakil', 'Sakib', 'Santo', 'Rasu']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list1 = [ 'apple', 'banana','cherry','orange','kiwi','mango']
list.extend(list1)
print(list)

['Sakil', 'Sakib', 'Sohel', 'Santo', 'Rasu', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.pop()
print(list)

['Sakil', 'Sakib', 'Sohel', 'Santo']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.pop(2) #Pop with index number
print(list)

['Sakil', 'Sakib', 'Santo', 'Rasu']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
for i in list:
  print(i)

Sakil
Sakib
Sohel
Santo
Rasu

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.clear() #Clear all element
print(list)

[]

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.sort()
print(list)

['Rasu', 'Sakib', 'Sakil', 'Santo', 'Sohel']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list1 = sorted(list)
print(list)
print(list1)

['Sakil', 'Sakib', 'Sohel', 'Santo', 'Rasu']
['Rasu', 'Sakib', 'Sakil', 'Santo', 'Sohel']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
list.reverse()
print(list)

['Rasu', 'Santo', 'Sohel', 'Sakib', 'Sakil']

In [ ]:
list = ['Sakil','Sakib','Sohel','Santo','Rasu']
copylist = list.copy()
print(copylist) #copy list

['Sakil', 'Sakib', 'Sohel', 'Santo', 'Rasu']

In [ ]:
tuple = ('Sakil','Sakib','Sohel','Santo','Rasu')
print(len(tuple))
print(type(tuple))

5
<class 'tuple'>

In [ ]:
tuple = ('Sakil','Sakib','Sohel','Santo','Rasu')
print(tuple)
print(type(tuple))

('Sakil', 'Sakib', 'Sohel', 'Santo', 'Rasu')
<class 'tuple'>