<a href="https://colab.research.google.com/github/santorasu/Python-Practice/blob/master/Lab_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 5
for i in range(1,n+1):
  for k in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
n = 5
for i in range(1,n+1):
  for k in range(n+1-i,0,-1):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
n = 5
for i in range(n):
  for j in range(1,n-i):
    print(" ",end="")
  for k in range(0,i+1):
    print("*",end="")
  print()

    *
   **
  ***
 ****
*****

In [ ]:
n = 5
for i in range(1,n+1): 
  for j in range(n-i):
    print(" ",end="")
  for k in range(2*i-1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********

In [ ]:
#Set 

thisset = {"Apple","Banna","Cherry"}
print(thisset)

thisset = {"Apple","Banna","Cherry",45,656,True}
print(thisset)

{'Cherry', 'Banna', 'Apple'}
{True, 'Banna', 45, 656, 'Apple', 'Cherry'}

In [ ]:
thisset = {"Apple","Banna","Cherry"}
for x in thisset:
  print(x)

Cherry
Banna
Apple

In [ ]:
thisset = {"Apple","Banna","Cherry"}
thisset.add("Orange")
print(thisset)

{'Cherry', 'Banna', 'Apple', 'Orange'}

In [ ]:
 a = input()
 p = set()
 p.add(a)
 print(p);

Hii
{'Hii'}

In [ ]:
set1= {'Cherry', 'Banna', 'Apple', 'Orange'}
set2 = {"Santo","Rasu","Farhan","Dipu"}

Update = set1 + set2  #amr vhul hoye geche..... khoma kore den
print(Update)

TypeError: ignored

In [ ]:
thisdict = {
    "brand": "Food",
    "model": "Mustang",
    "year": 1999
}

print(thisdict)

{'brand': 'Food', 'model': 'Mustang', 'year': 1999}

In [ ]:
thisdict = {
    "brand": "Food",
    "model": "Mustang",
    "year": 1999
}

print(thisdict["brand"])

Food

In [ ]:
thisdict = {
    "brand": "Food",
    "model": "Mustang",
    "year": 1999
}
for i in thisdict:
  print(thisdict[i])

Food
Mustang
1999

In [ ]:
my ={
    "c1" : {
        "nm": "Rasu",
        "age": 21
    },
     "c2" : {
        "nm": "Santo",
        "age": 22
    },
     "c3" : {
        "nm": "AriYan",
        "age": 20
    }
}

print(my)
print(my['c1'])
print(my['c2'])
print(my['c3'])
print(my[c1]."mn")

SyntaxError: ignored